
@{
    /**/

    ViewBag.Title = "Incomes";
}

<h2>Incomes</h2>

<div class="row">
    <!--column left-->
    <div class="col-md-6">

        <h3>Add income </h3>

        <label for="name">Name of income </label>
        <input class="form-control" id="name" />

        <label for="amount">Amount of incomecome</label>
        <input class="form-control" id="amount" type="number" />


        <div class="form-group">
            <label for="settlementPeriod">Select settlement period:</label>
            <select class="form-control" id="settlementPeriod"></select>
        </div>

        <br />

        <button type="button" id="send" data-loading-text="Sending..." class="btn btn-primary" autocomplete="off">
            Send
        </button>

        <br />

        <div class="alert alert-success hidden" role="alert" id="result"></div>
    </div>

</div>



@section scripts {


    <script>
      var actionLink = '@Url.Action("SaveIncome", "Home")';
      var actionLinkListSettlementPeriod = '@Url.Action("GetListOfSettlementPeriod", "Home")';

      var getListOfSettlementPeriod = function (data) {
         for (var i = 0; i < data.length; i++) {
            var html = ('<option value="' + data[i].Id + '">' + data[i].Date + ' </option>')
            //$('#settlementPeriodListIncomes').append(html);
             $('#settlementPeriod').append(html);
         }
      }

      $.get(actionLinkListSettlementPeriod)
        .done(getListOfSettlementPeriod)

    $('#name').click(function () {
        $(this).removeClass('redBorder');
    });

    $('#amount').click(function () {
        $(this).removeClass('redBorder');
    });

    var successMessage = function () {
        $('#result').removeClass('hidden');
        $('#result').addClass('alert-success');
        $('#result').removeClass('alert-danger');
        $('#result')[0].innerHTML = '<strong>Sukces!</strong> Zapisano w bazie danych';
    }

    var errorMessage = function (message) {
        $('#result').removeClass('hidden');
        $('#result').removeClass('alert-success');
        $('#result').addClass('alert-danger');
        $('#result')[0].innerHTML = '<strong>Błąd!</strong> ' + message;
    }

    var okResponse = function (data) {
        if (data.Success) {
            successMessage();
        }
        else if (!data.Success) {
            errorMessage(data.ErrorMessage);
        }
    };

    var failResponse = function () {
        errorMessage('Spróbuj ponownie później');
    };

    var alawysResponse = function () {
        $('#send').button('reset');
        setTimeout(function () {
            $('#result').addClass('hidden');
        }, 3000);
        $('#name').removeClass('greenBorder');
        $('#name').removeAttr('disabled');
        $('#name').val(null);
        $('#amount').removeClass('greenBorder');
        $('#amount').removeAttr('disabled');
        $('#amount').val(null);
        $('#settlementPeriod').removeAttr('disabled');
    };

    $('#send').click(function () {

        if ($('#name').val() && $('#amount').val()) {

            $('#name').addClass('greenBorder');
            $('#amount').addClass('greenBorder');
            $(this).button('loading');
            $('#name').attr('disabled', 'disabled');
            $('#amount').attr('disabled', 'disabled');
            $('#settlementPeriod').attr('disabled', 'disabled');

            var postedObj = {
                name: $('#name').val(),
                amount: $('#amount').val(),
                settlementPeriodId: $('#settlementPeriod').val()
            };

            $.post(actionLink, postedObj).done(okResponse)
                .fail(failResponse)
                .always(alawysResponse);
        }
        else if (!$('#name').val()) {
            $('#name').addClass('redBorder');
        }
        else if (!$('#amount').val()) {
            $('#amount').addClass('redBorder');
        }

    });

    </script>
}